# 処理に使用する中間ファイル
expectation/url/*
expectation/html/*
expectation/csv/*
!.gitkeep

# 処理結果を格納するログファイル
expectation/log/*
!.gitkeep

# クイズアプリの画像ファイル
quiz/web/images/*.jpg

# クイズアプリのdataファイル
quiz/mysql/data/*
!.gitkeep

# TONGUESSのpycache
tonguess/__pycache__

# TONGUESSでcallできる文字列を出力したファイル
tonguess/usable_str.txt